<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite Runner">
  <test name="Test Panasonic">
  
  	<listeners>
		<listener class-name="com.crm.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	
    <classes>
      <class name="com.crm.qa.testcases.LoginPageTest"/>
      <class name="com.crm.qa.testcases.HomePageTest"/>
      <class name="com.crm.qa.testcases.ContactPageTest"/>
        <class name="com.crm.qa.testcases.ProductRegisterTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->